version: '3.8'
services:
  app:
    image: ://mcr.microsoft.com
    volumes:
      - ..:/workspace:cached
    ports:
      - "8080:80"

  db:
    image: mariadb:10.6
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: root_password
      MARIADB_DATABASE: my_database

  phpmyadmin:
    image: phpmyadmin:latest
    restart: always
    ports:
      - "8081:80"
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: root_password
